@using Blogy.Entity.Entities
@model AppUser
@*
    _MainHeaderComponent
*@
<div class="main-header" data-background-color="purple">
    <div class="logo-header">

        <a asp-area="" asp-controller="Default" asp-action="Index" class="logo" style="color:black!important">
            Anasayfaya Dön
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
        </button>
        <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
        <div class="navbar-minimize">
            <button class="btn btn-minimize btn-rounded">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg">

        <div class="container-fluid">

            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                <li class="nav-item dropdown hidden-caret">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                        <div class="avatar-sm">
                            <img src="@Model.ImageUrl" alt="..." class="avatar-img rounded-circle" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <li>
                            <div class="user-box">
                                <div class="avatar-lg">
                                    <img src="@Model.ImageUrl" alt="image profile" class="avatar-img rounded" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <div class="u-text">
                                    <h4>@Model.FirstName @Model.LastName</h4>
                                    <p class="text-muted">@Model.Email</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">Profili Gör</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Çıkış Yap</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</div>