@model List<AssignRoleDto>
@{
	ViewData["Title"] = "AssignRole";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Rol Atama Sayfası</h3>
<h4>@ViewBag.fullName hullanıcısına rol atama işlemleri yapabilirsin</h4>
<form method="post">

	@for (int i = 0; i < Model.Count; i++)
	{
		<div class="form-check">
			<input type="hidden" asp-for="@Model[i].RoleId" />
			<input type="hidden" asp-for="@Model[i].RoleName" />
			<input type="hidden" asp-for="@Model[i].UserId" />
			<input type="checkbox" asp-for="@Model[i].RoleExists" class="form-check-input" />
			<label class="form-check-label">@Model[i].RoleName</label>
		</div>
	}

	<br />
	<button class="btn btn-outline-primary">Rolleri Ata</button>
</form>

